@charset "ISO-8859-1";

Html, body{
	height:100%;
    margin:10px;
    padding:50px;
}
.grandParentContaniner{
        display:table;
        height:30%;
        width:30%;
        margin: 0 auto;
        background-color: #faec9d;
        text-align: center;
}
.parentContainer{
    display:table-cell;
 /*   vertical-align:middle;  */ 
}
.parentContainer #loginForm{
    padding:10px; 
    background: #fff;
    border: 10px solid #ddd;
    width:300px;  /*  your login form width */
}